services:
  redis:
    image: redis:7-alpine
    container_name: tcc-redis
    command: redis-server --appendonly yes
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data: